.cart {
    background-color: white;
    width: 50%;
    color: white;
    transition: background-color 0.5s ease-in-out 0s;
    padding-bottom: 12px;
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
    margin: auto;
    border: none;
    box-shadow: 1px 1px 1px 1px ghostwhite;
    color: black;
    margin-top: 20px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input {
    font: inherit;
    display: block;
    width: 80%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
    height: 30px;

}

.label {
    font-size: 17px;
    font-family: sans-serif;
    text-align: start;
}

.btns {
    width: 80px;
    height: 40px;
    border: none;
    background-color: midnightblue;
    transition: 0.5s ease-in-out 0s;
    font-size: 17px;
    color: white;
    font-family: sans-serif;

}